presentation/serverless-stateMachine/state_machine.json
{
  "Name": "test_state_machine",
  "StartAt": "State1",
  "States": {
    "State1": {
      "Type": "Task",
      "Resource": "state1_function",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type_state1",
          "StringEquals": "1",
          "Next": "State2"
        },
        {
          "Variable": "$.type_state1",
          "StringEquals": "2",
          "Next": "State3"
        }
      ]
    },
    "State2": {
      "Type": "Task",
      "Resource": "state2_function",
      "Next": "State4"
    },
    "State3": {
      "Type": "Task",
      "Resource": "state3_function",
      "Next": "State4"
    },
    "State4": {
      "Type": "Task",
      "Resource": "state4_function",
      "End": true
    }
  }
}
