docs/serverless template/state machine/workflow.json
{
    "StartAt": "Check Stock Price",
    "States": {
        "Check Stock Price": {
            "Type": "Task",
            "Resource": "$activityName$",
            "Next": "Generate Buy/Sell recommendation"
        },
        "Generate Buy/Sell recommendation": {
            "Type": "Task",
            "Resource": "$activityName$",
            "ResultPath": "$.recommended_type",
            "Next": "Request Human Approval"
        },
        "Request Human Approval": {
            "Type": "Task",
            "Resource": "$activityName$",
            "Parameters": {
                "QueueUrl": "<REQUEST_HUMAN_APPROVAL_SQS_URL>",
                "MessageBody": {
                    "Input.$": "$",
                    "TaskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": null,
            "Next": "Buy or Sell?"
        },
        "Buy or Sell?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "buy",
                    "Next": "Buy Stock"
                },
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "sell",
                    "Next": "Sell Stock"
                }
            ]
        },
        "Buy Stock": {
            "Type": "Task",
            "Resource": "$activityName$",
            "Next": "Report Result"
        },
        "Sell Stock": {
            "Type": "Task",
            "Resource": "$activityName$",
            "Next": "Report Result"
        },
        "Report Result": {
            "Type": "Task",
            "Resource": "$activityName$",
            "Parameters": {
                "TopicArn": "<REPORT_RESULT_SNS_TOPIC_ARN>",
                "Message": {
                    "Input.$": "$"
                }
            },
            "End": true
        }
    }
}